body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}

header {
    background: #222;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    color: #00c3ff;
}

main {
    padding: 40px;
}